body {
  font-family: Helvetica, sans-serif, Arial;
  color: #747474;
  font-size: 16px;
  line-height: 30px;

  margin: 0px;
}

a {

  text-decoration: none;
  margin: 0px;
  color: #ababab;


}

/* li:hover {
  color: #00b39b;
  cursor: pointer;

} */

/*----------------HEADER-NAV--------------------*/
.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 15px 165px;
  background-color: #fff;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 0 0 10px 0 #d3cfc9;
}


.logo-docplanner {
  width: 268px;
  height: 33px
}

.nav-menu>ul {

  margin: 0;
  min-width: 255px;

}

.nav-menu>ul>li {

  display: inline-block;
  list-style-type: none;
  font-size: 15px;
  position: relative;
  padding: 0px 10px;

}
li:hover{
  cursor: pointer;
  color: #00b39b;

}



/*----------------DROPDOWN--------------------*/

.nav-menu ul li .dropdown {
  background-color: #fff;
  box-shadow: 0 5px 10px 0 #d3cfc9;
  padding: 0px;
  padding-top: 10px;
  width: 220px;
  flex-direction: column;
  display: none;


}

.nav-menu ul li:hover .dropdown {

  display: flex;
  position: absolute;
  right: 0;


}


.dropdown li {
  padding: 10px 12px;
  list-style-type: none;
  font-size: 16px;
  display: block;
  color: #ababab;


}

.dropdown li:hover {
  background-color: #f6f8f8;
  cursor: pointer;
  color: #00b39b;
 }


/*----------------MAIN--------------------*/

/*----------------SECTION-GOAL--------------------*/

.section-goal {
  text-align: center;
  margin: 100px 150px 60px;
}

.section-goal h1 {
  margin: 35px 0px;
  color: #00b39b;
  font-size: 34px;
  font-weight: 100;
}

.section-goal .sub-goal {
  display: flex;
  justify-content: center;

}

.section-goal .sub-goal p {
  text-align: left;
  max-width: 470px;
  padding: 10px;

}

/*----------------SECTION-LOCAL--------------------*/

.section-local .sub-local-card {
  display: flex;
  justify-content: center;

}

.section-local .sub-local-card .card {
  width: 400px;
  height: 400px;
  padding: 20px 45px;
  color: white;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
}

.card p {
  color: rgba(255, 255, 255, 0.7);
}

.card h1 {
  font-weight: 100;
  font-size: 28px;
}

.card-patients .cities {
  min-width: 175px;
  height: 40px;
  border-radius: 5px;
  border: 0px;
  font-size: 12px;
  padding: 0px 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.section-local .sub-local-card .card-patients {
  background-color: #00ccb1;
  position: relative;

}

.section-local .sub-local-card .card-doctors {
  background-color: #3d83df;
  position: relative;
}

.section-local .sub-local-card .card-doctors img {
  left: 200px;
}

.section-local .sub-local-card .card img {

  max-width: 85%;
  position: absolute;



}

.section-local .sub-local {
  display: flex;

  margin: 40px 150px;

}

.section-local .sub-local h1 {
  width: 400px;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #00b39b;
  padding-right: 25px;


}

.section-local .sub-local ul {
  list-style-type: none;
  line-height: 35px;
  padding-left: 25px;
}

.section-local .sub-local ul li {
  display: inline;
  padding: 10px 20px;
}

/*----------------SECTION-INTRO--------------------*/

.section-intro {
  background-color: #e5faf8;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.section-intro .sub-intro {
  max-width: 420px;
  margin-top: 32px;
  padding: 10px;
  position: relative;
}

.section-intro .sub-intro img {
  position: absolute;
  top: 250px;
  left: -100px;
}

.section-intro .sub-intro h1 {
  color: #00b39b;
  font-size: 34px;
  line-height: 45px;
  font-weight: 100;
}

.section-intro .sub-intro p {
  font-size: 14px;
  line-height: 25px;
}

.section-intro .sub-cards {
  padding: 10px;
  display: flex;
  width:500px;
  flex-wrap: wrap;
}



.section-intro .sub-cards .cards {
  width: 230px;
  height: 250px;
  background-color: #fff;
  padding: 20px 20px 0px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;


}
.cards:nth-child(odd) {
  margin-top: 30px;
  margin-left:10px;
}
.cards:nth-child(even) {
  margin-top: 10px;
  margin-left:10px;

}

.section-intro .sub-cards .cards h3 {
  color: #00b39b;
  font-size: 28px;
  font-weight: 100;
  margin: 12px 0px;

}

.section-intro .sub-cards .cards p {
  font-size: 12px;
  line-height: 20px;
}

/*----------------SECTION-LOCATION--------------------*/

.section-location {
  margin: 80px 150px;
  padding: 0px 20px;

}

.section-location .sub-loc {
  margin: 0px 260px 70px;
  text-align: center;
}

.section-location .sub-loc h3 {
  color: #00b39b;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;

}

.section-location .sub-loc p {

  line-height: 24px;
  font-size: 14px;
}

.section-location .img-loc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.section-location .img-loc .desc {
  padding: 20px;
  padding-top: 10px;


}


/*----------------FOOTER--------------------*/
footer {
  border-top: 1px solid #eef2f2;
  color: #ababab;
  text-align: center;
  font-size: 12px;
}

footer>p>a {
  color: #3d83df;
}

footer>p>a:hover {
  color: #3d83df;
  text-decoration: underline;
}

footer .cookies {
  line-height: 20px;
}